/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	.main-header{
		.main-header-right{
			margin-top: 2%;
		}
	}
	.price-main{
		margin-bottom: 0;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.main-header{
		background-image: none;
		.main-header-left,
		.main-header-right{
			float: none;
			width: 100%;
		}
		.main-header-left{
			background:#000 url("../img/aside_mobile.png") no-repeat 50% 100%;			
			background-size: 100% 100%;
			padding-bottom: 20px;
		}
		.img-jewelry{
			margin-top: 0;
		}
	}
	.img-jewelry{
		width: 16%;
		img{
			margin-top: 0;
		}
	}
	.img-jewelry-wrapper{
		margin-right: 0;
		margin-bottom: 0;
	}
	.form-jewelry-wrapper{
		&.desktop{
			display: none;
		}
	}
	.form-jewelry{
		&.mobile{
			display: block;
		}
	}
	.price-main{
		margin-bottom: 60px;
	}
	.form-jewelry.mobile{
		margin-bottom: 40px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	/**/

	
	/*Disable Animation on Mobile Devices*/
	.animated{
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){	
	.img-jewelry{
		width: 20%;
	}
	h1{
		font-size: em(30px);
	}
	.tagline{
		font-size: em(18px);
		margin-bottom: 40px;
	}
	.form-jewelry{ 
		.form-jewelry-caption{
			font-size: em(14px);
		}
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}

