/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	.main-header{
		.main-header-right{
			margin-top: 2%;
		}
	}
	.price-main{
		margin-bottom: 0;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.main-header{
		background-image: none;
		.main-header-left,
		.main-header-right{
			float: none;
			width: 100%;
		}
		.main-header-left{
			background:#000 url("../img/aside_mobile.png") no-repeat 50% 100%;			
			background-size: 100% auto;
			padding-bottom: 20px;
		}
		.img-jewelry{
			margin-top: 0;
		}
	}
	.img-jewelry{
		width: 16%;
		img{
			margin-top: 0;
		}
	}
	.img-jewelry-wrapper{
		margin-right: 0;
		margin-bottom: 0;
	}
	.form-jewelry-wrapper{
		&.desktop{
			display: none;
		}
	}
	.form-jewelry{
		&.mobile{
			display: block;
		}
	}
	.price-main{
		margin-bottom: 60px;
	}
	.form-jewelry.mobile{
		margin-bottom: 40px;
	}
	.player-left, .player-right{
		float: none;
		margin:0 auto 30px;
	}
	.player-right{
		margin-bottom: 0;
	}

	.s2, .s2 .s2-wrap, .s2 .left-section, .s2 .right-section{
		float: none;
		position: static;
		width: 100%;
	}

	.s2 .right-section, .s2 .s2-wrap{
		background-color: #000;
	}

	.s2 .left-section{
		background-color: #fff;
	}

	.s3-item{
		width: 40%;
		margin-bottom: 40px;
	}

	.s3 .s3-btn-section .btn-wrap{
		width: 30%;
	}

	.s4 .contact-form{
		width: 100%;
	}

	.s4 .contact-form .contact-form-top .form-item{
		display: block;
		width: 100%;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	#scroll_header{
		display: none;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	h2{
		font-size: em(28px);
	}

	.s3-item{
		width: 100%;
	}

	.s3 .s3-btn-section{
		background-image: none;
		background-color: $blue;
	}

	.s3 .s3-btn-section .btn-wrap{
		width: 60%;
		&:before,&:after{
			display: none;
		}
	}

	
	/*Disable Animation on Mobile Devices*/
	.animated{
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){	
	.img-jewelry{
		width: 20%;
	}
	h1{
		font-size: em(30px);
	}
	h2{
		font-size: em(20px);
	}
	p{
		font-size: em(14px);
		text-align: justify;
	}
	.player{
		width: 100%;
	}
	.btn-wrap{
		width: 100%;
	}
	.tagline{
		font-size: em(18px);
		margin-bottom: 40px;
	}
	.form-jewelry{ 
		.form-jewelry-caption{
			font-size: em(14px);
		}
	}
	.s2 .character ul ul{
		margin-left: 0;
		padding-left: 4px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}

