@import "bourbon";
@import "vars.scss";
@import "default.scss";
@import "fonts.scss";

/* =========== Header =========== */
.main-header{
	background: url("../img/woman.png") #fff no-repeat 100% 0;
	width: 100%;
	position: relative;	
	.main-header-left{
		float:left;
		width: 50%;
		background:url("../img/aside.png") #000 no-repeat 100% 0;
		background-size: auto 100%;
	}
	.main-header-right {
		float:left;
		width: 50%;
		margin-top: 8%;
	}
}

.img-jewelry-wrapper{
	margin-right: 200px;
	margin-bottom: 50px;
}

.img-jewelry{
	width: 40%;
	margin:100px auto 0;
	position: relative;
	img{
		margin-top: -24px;
		margin-left: 6px;
		position: relative;
		z-index: 2;
	}		
	&:before{
		display: block;
		content: '';
		position: absolute;
		background:url("../img/chain.png") no-repeat 50% 100%;
		background-size: 100% 100%;
		width: 100%;
		height: 142px;
		bottom: 100%;
		z-index: 1;
	}
}

.form-jewelry-wrapper{
	margin-right: 210px;
	margin-bottom: 40px;
}

.form-jewelry{
	background-color: $blue;
	width: 80%;
	margin:0 auto 20px;
	padding:10px 20px;
	position: relative;
	border:3px solid rgba(255,255,255,0.6);
	box-shadow: 0 0 0 6px $blue;
	.form-jewelry-caption-wrap{
		text-align: center;
		margin-bottom: 16px;				
	}
	.form-jewelry-caption{
		color: #fff;
		font-weight: bold;
		font-size: em(18px);
		letter-spacing: em(1px);
	}
	input[type="text"]{
		padding: 10px 10px 10px 18px;
	}
	.btn{
		padding: 10px 0;
	}
}

.main-header-right-wrap{
	width: 90%;
	margin:0 auto;
	text-align: center;		
}

.tagline{
	font-family: lobsterRegular, $verdana;
	font-size: em(24px);
	color: #6b6b6b;
	margin-bottom: 60px;
}

.price-through{
	color: #E14938;
	text-decoration: line-through;	
	font-size: em(24px);
	text-align: center;
}

.price-main{
	font-size: em(45px);
	color:#41A85F;
	font-weight: bold;
	margin-top:-16px;
	text-align: center;
}

/* =========== S2 =========== */
.s1{
	background:url("../img/s2_bg.jpg") no-repeat 0 50%;
	background-size: cover;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: block;
		background-color: rgba(255,255,255,0.8);

	}
}

.s2-text-content{
	margin-bottom: 60px;
}

.s2-video-content{
	margin-bottom: 80px;
}

@import "media.scss";