@import "bourbon";
@import "vars.scss";
@import "default.scss";
@import "fonts.scss";

body{
	background-color: #fff;
}

.main-header{
	background: #fff;
	width: 100%;
	.main-header-left{
		float:left;
		width: 50%;
		background-color: #000;
		.img-jewelry-wrapper{
			width: 80%;
		}
	}
	.main-header-right {
		float:left;
		width: 50%;
	}
}