@charset "UTF-8";
html {
  font-size: 1em;
  line-height: 1.4; }

html, body {
  height: 100%; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none; }

img {
  max-width: 100%; }

body {
  background-color: #fff;
  font-size: 16px;
  font-family: CenturyGothicRegular, "Verdana", "Geneva", sans-serif; }

.container {
  width: 80%;
  margin: 0 auto;
  position: relative; }

h1 {
  font-family: lobsterRegular, "Verdana", "Geneva", sans-serif;
  color: #010101;
  font-size: 3em;
  line-height: 1.25em; }

h2, section-title {
  font-size: 2.625em;
  color: #676767;
  font-family: lobsterRegular, "Verdana", "Geneva", sans-serif;
  text-align: center;
  position: relative;
  margin-bottom: 40px; }
  h2:after, section-title:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #dd3176;
    margin: 4px auto 0; }

p {
  color: #4d4d4d;
  line-height: 1.5em; }

form .error {
  border: 2px solid #fa565c !important; }

input[type="text"],
textarea {
  width: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #fff;
  padding: 14px 14px 14px 18px;
  font-size: 0.875em;
  margin-bottom: 28px;
  border: 0;
  color: #010101;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  input[type="text"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #010101; }
  input[type="text"]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #010101; }
  input[type="text"]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #010101; }
  input[type="text"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #010101; }

.btn {
  display: block;
  width: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 14px 0;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.1875em;
  font-size: 1em;
  border: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none; }

.main-btn {
  background-color: #dd3176;
  color: #fff;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out; }
  .main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #9b2253; }
  .main-btn:focus {
    text-decoration: none;
    color: #fff;
    outline: none; }

.sec-btn {
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out; }
  .sec-btn:hover {
    border: 2px solid #dd3176;
    color: #dd3176; }

.mobile {
  display: none; }

header, section {
  overflow: hidden; }

.section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }

.player {
  width: 380px;
  border: 1px solid green;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
  border: 1px solid #dd3176; }
  .player .video-play {
    display: block; }
  .player .video-stop {
    display: none;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
  .player.video-zoom {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }
    .player.video-zoom .video-play {
      display: none; }
  .player:hover.video-zoom .video-stop {
    display: block; }
  .player .video {
    width: 100%; }
  .player .video-control {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    color: #dd3176;
    margin: auto; }
    .player .video-control .fa {
      font-size: 4.375em;
      line-height: 60px;
      margin-top: -50%;
      margin-left: -50%;
      cursor: pointer;
      opacity: 0.8;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .player .video-control .fa:hover {
        opacity: 1; }

.player-left {
  float: left; }

.player-right {
  float: right; }

.btn-wrap {
  width: 300px;
  margin: 0 auto; }

.scroll {
  cursor: pointer;
  margin: auto;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  right: 0;
  background: url("../img/mouse.svg") no-repeat;
  background-size: cover; }
  .scroll svg {
    stroke: red; }

.jGrowl {
  font-size: 1em;
  font-family: CenturyGothicRegular, "Verdana", "Geneva", sans-serif; }
  .jGrowl .jGrowl-header {
    text-align: center;
    margin-bottom: 10px; }
  .jGrowl .jGrowl-message {
    font-size: 0.75em; }
  .jGrowl .jGrowl-notification {
    position: relative;
    padding-bottom: 14px;
    padding-left: 14px; }
    .jGrowl .jGrowl-notification:before {
      position: absolute;
      content: "";
      border: 2px solid #fff;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
  .jGrowl .jGrowl-close {
    position: relative; }

.jGrowl-notification.error {
  background-color: #D14233; }

.jGrowl-notification.success {
  background-color: #1abc9c; }

.jGrowl-notification.warning {
  background-color: #fba026; }

.mfp-close-btn-in .mfp-close {
  color: #fff; }

.popup {
  position: relative;
  background-color: #287eb1;
  margin: 0 auto;
  max-width: 50%;
  padding: 10px 20px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 0 6px #287eb1;
          box-shadow: 0 0 0 6px #287eb1; }
  .popup .popup-content {
    width: 80%;
    margin: 0 auto; }
    .popup .popup-content h2 {
      text-align: center; }
    .popup .popup-content input, .popup .popup-content textarea {
      width: 100%; }
    .popup .popup-content input[type="checkbox"], .popup .popup-content input[type="radio"] {
      width: auto; }
    .popup .popup-content .custom-btn {
      margin-top: 30px; }
  .popup .order-popup-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.125em;
    letter-spacing: 0.0625em;
    text-align: center;
    margin-bottom: 30px; }
  .popup .btn {
    margin-top: 6px; }

@font-face {
  font-family: "CenturyGothicRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype"); }

@font-face {
  font-family: "lobsterRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lobsterRegular/lobsterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lobsterRegular/lobsterRegular.woff") format("woff"), url("../fonts/lobsterRegular/lobsterRegular.ttf") format("truetype"); }

/* =========== Header =========== */
.main-header {
  background: url("../img/woman.png") #fff no-repeat 100% 0;
  width: 100%;
  position: relative; }
  .main-header .main-header-left {
    float: left;
    width: 50%;
    background: url("../img/aside.png") #000 no-repeat 100% 0;
    background-size: auto 100%; }
  .main-header .main-header-right {
    float: left;
    width: 50%;
    margin-top: 8%; }

.img-jewelry-wrapper {
  margin-right: 200px;
  margin-bottom: 50px; }

.img-jewelry {
  width: 40%;
  margin: 100px auto 0;
  position: relative; }
  .img-jewelry img {
    margin-top: -24px;
    margin-left: 6px;
    position: relative;
    z-index: 2; }
  .img-jewelry:before {
    display: block;
    content: '';
    position: absolute;
    background: url("../img/chain.png") no-repeat 50% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 142px;
    bottom: 100%;
    z-index: 1; }

.form-jewelry-wrapper {
  margin-right: 210px;
  margin-bottom: 40px; }

.form-jewelry {
  background-color: #287eb1;
  width: 80%;
  margin: 0 auto 20px;
  padding: 10px 20px;
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 0 6px #287eb1;
          box-shadow: 0 0 0 6px #287eb1; }
  .form-jewelry .form-jewelry-caption-wrap {
    text-align: center;
    margin-bottom: 16px; }
  .form-jewelry .form-jewelry-caption {
    color: #fff;
    font-weight: bold;
    font-size: 1.125em;
    letter-spacing: 0.0625em; }
  .form-jewelry input[type="text"] {
    padding: 10px 10px 10px 18px; }
  .form-jewelry .btn {
    padding: 10px 0; }

.main-header-right-wrap {
  width: 90%;
  margin: 0 auto;
  text-align: center; }

.tagline {
  font-family: lobsterRegular, "Verdana", "Geneva", sans-serif;
  font-size: 1.5em;
  color: #6b6b6b;
  margin-bottom: 60px; }

.price-through {
  color: #E14938;
  text-decoration: line-through;
  font-size: 1.5em;
  text-align: center; }

.price-main {
  font-size: 2.8125em;
  color: #41A85F;
  font-weight: bold;
  margin-top: -16px;
  text-align: center; }

/* =========== S1 =========== */
.s1 {
  background: url("../img/s1_bg.jpg") no-repeat 0 50%;
  background-size: cover; }
  .s1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.8); }

.s1-text-content {
  margin-bottom: 60px; }

.s1-video-content {
  margin-bottom: 80px; }

/* =========== S2 =========== */
.s2 {
  overflow: hidden;
  background-color: #000;
  width: 100%;
  padding: 0; }
  .s2 .section-title {
    margin-bottom: 40px; }
  .s2 .s2-wrap {
    float: left;
    position: relative;
    right: 50%;
    min-height: 100%;
    background-color: #fff;
    width: 100%; }
  .s2 .left-section {
    float: left;
    width: 50%;
    position: relative;
    left: 50%;
    padding-top: 40px;
    padding-bottom: 40px; }
  .s2 .right-section {
    float: left;
    width: 50%;
    position: relative;
    left: 50%; }
  .s2 .character ul {
    list-style-type: none;
    margin-left: 80px; }
  .s2 .character > ul {
    counter-reset: list; }
    .s2 .character > ul > li {
      font-weight: bold;
      font-size: 1.125em;
      position: relative;
      margin-bottom: 20px; }
      .s2 .character > ul > li:before {
        counter-increment: list;
        content: counter(list) " \\ ";
        position: absolute;
        font-size: 2.625em;
        left: -80px;
        top: -16px;
        font-family: lobsterRegular, "Georgia", "Cambria", "Times New Roman", "Times", serif;
        color: #6b6b6b; }
    .s2 .character > ul ul li {
      font-weight: normal;
      font-size: 0.75em;
      color: #6b6b6b; }

/* =========== S3 =========== */
.s3 {
  background: url("../img/s3_bg.jpg") no-repeat 0 50%;
  background-size: cover;
  padding-bottom: 100px;
  overflow: visible; }
  .s3:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.8); }
  .s3 .section-title {
    margin-bottom: 80px; }
  .s3 .s3-btn-section {
    height: 170px;
    width: 100%;
    background: url("../img/s3_btn_bg.svg") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%); }
    .s3 .s3-btn-section .btn-wrap {
      width: 24%;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
      .s3 .s3-btn-section .btn-wrap:before, .s3 .s3-btn-section .btn-wrap:after {
        width: 40px;
        height: 40px;
        font-family: FontAwesome, "Verdana", "Geneva", sans-serif;
        position: absolute;
        top: 0;
        margin-top: -20px;
        font-size: 2.25em;
        color: #dd3176;
        margin-top: 8px; }
      .s3 .s3-btn-section .btn-wrap:before {
        left: 0;
        margin-left: -80px;
        content: ""; }
      .s3 .s3-btn-section .btn-wrap:after {
        right: 0;
        margin-right: -80px;
        content: ""; }

.s3-items {
  text-align: justify; }
  .s3-items:before {
    content: '';
    display: block;
    width: 100%;
    height: 0; }
  .s3-items:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block; }

.s3-item {
  width: 20%;
  display: inline-block;
  vertical-align: top; }
  .s3-item .s3-item-icon {
    position: relative;
    text-align: center;
    color: #dd3176;
    width: 84px;
    height: 84px;
    margin: 0 auto 38px; }
    .s3-item .s3-item-icon.off:before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      height: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #dd3176;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .s3-item .s3-item-icon.on:before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      height: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #dd3176;
      -webkit-transition: -webkit-transform 400ms ease-in-out;
      transition: -webkit-transform 400ms ease-in-out;
      transition: transform 400ms ease-in-out;
      transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
    .s3-item .s3-item-icon .fa {
      font-size: 2.25em;
      line-height: 84px; }
  .s3-item .s3-item-title {
    font-size: 1.5em;
    color: #dd3176;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 4px; }
  .s3-item .s3-item-text {
    text-align: center;
    color: #343434; }

/* =========== S4 =========== */
.s4 {
  background: url("../img/s4_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding-top: 100px; }
  .s4:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.7); }
  .s4 .section-title {
    color: #fff; }
  .s4 .contact-form {
    width: 70%;
    margin: 0 auto; }
    .s4 .contact-form .contact-form-top {
      text-align: justify; }
      .s4 .contact-form .contact-form-top:before {
        content: '';
        display: block;
        width: 100%;
        height: 0; }
      .s4 .contact-form .contact-form-top:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block; }
      .s4 .contact-form .contact-form-top .form-item {
        display: inline-block;
        width: 30%; }
    .s4 .contact-form .btn-wrap {
      margin-top: 30px; }
  .s4 input[type="text"], .s4 textarea {
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8px 8px 8px 14px;
    margin-bottom: 4px;
    color: #fff; }
    .s4 input[type="text"]::-webkit-input-placeholder, .s4 textarea::-webkit-input-placeholder {
      color: #cbcbcb; }
    .s4 input[type="text"]::-moz-placeholder, .s4 textarea::-moz-placeholder {
      color: #cbcbcb; }
    .s4 input[type="text"]:-moz-placeholder, .s4 textarea:-moz-placeholder {
      color: #cbcbcb; }
    .s4 input[type="text"]:-ms-input-placeholder, .s4 textarea:-ms-input-placeholder {
      color: #cbcbcb; }
  .s4 textarea {
    height: 170px;
    resize: none; }

.main-footer {
  background-color: #287eb1;
  text-align: center;
  color: #fff;
  font-size: 1.125em;
  padding: 30px; }
  .main-footer .copyright {
    font-weight: bold;
    margin-bottom: 2px; }
  .main-footer .develop {
    font-size: 0.875em; }
    .main-footer .develop a {
      color: #fff; }

/* ====================== Media ====================== */
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-header .main-header-right {
    margin-top: 2%; }
  .price-main {
    margin-bottom: 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-header {
    background-image: none; }
    .main-header .main-header-left,
    .main-header .main-header-right {
      float: none;
      width: 100%; }
    .main-header .main-header-left {
      background: #000 url("../img/aside_mobile.png") no-repeat 50% 100%;
      background-size: 100% 100%;
      padding-bottom: 20px; }
    .main-header .img-jewelry {
      margin-top: 0; }
  .img-jewelry {
    width: 16%; }
    .img-jewelry img {
      margin-top: 0; }
  .img-jewelry-wrapper {
    margin-right: 0;
    margin-bottom: 0; }
  .form-jewelry-wrapper.desktop {
    display: none; }
  .form-jewelry.mobile {
    display: block; }
  .price-main {
    margin-bottom: 60px; }
  .form-jewelry.mobile {
    margin-bottom: 40px; }
  .player-left, .player-right {
    float: none;
    margin: 0 auto 30px; }
  .player-right {
    margin-bottom: 0; }
  .s2, .s2 .s2-wrap, .s2 .left-section, .s2 .right-section {
    float: none;
    position: static;
    width: 100%; }
  .s2 .right-section, .s2 .s2-wrap {
    background-color: #000; }
  .s2 .left-section {
    background-color: #fff; }
  .s3-item {
    width: 40%;
    margin-bottom: 40px; }
  .s3 .s3-btn-section .btn-wrap {
    width: 30%; }
  .s4 .contact-form {
    width: 100%; }
  .s4 .contact-form .contact-form-top .form-item {
    display: block;
    width: 100%;
    margin-bottom: 30px; }
    .s4 .contact-form .contact-form-top .form-item:last-child {
      margin-bottom: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.75em; }
  .s3-item {
    width: 100%; }
  .s3 .s3-btn-section {
    background-image: none;
    background-color: #287eb1; }
  .s3 .s3-btn-section .btn-wrap {
    width: 60%; }
    .s3 .s3-btn-section .btn-wrap:before, .s3 .s3-btn-section .btn-wrap:after {
      display: none; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .img-jewelry {
    width: 20%; }
  h1 {
    font-size: 1.875em; }
  h2 {
    font-size: 1.25em; }
  p {
    font-size: 0.875em;
    text-align: justify; }
  .player {
    width: 100%; }
  .btn-wrap {
    width: 100%; }
  .tagline {
    font-size: 1.125em;
    margin-bottom: 40px; }
  .form-jewelry .form-jewelry-caption {
    font-size: 0.875em; }
  .s2 .character ul ul {
    margin-left: 0;
    padding-left: 4px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
