html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

img {
  max-width: 100%; }

body {
  background-color: #fff;
  font-size: 16px;
  font-family: CenturyGothicRegular, "Verdana", "Geneva", sans-serif; }

h1 {
  font-family: lobsterRegular, "Verdana", "Geneva", sans-serif;
  color: #010101;
  font-size: 3em;
  line-height: 1.25em; }

input[type="text"],
textarea {
  width: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #fff;
  padding: 14px 14px 14px 18px;
  font-size: 0.875em;
  margin-bottom: 28px;
  border: 0;
  color: #010101; }
  input[type="text"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #010101; }
  input[type="text"]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #010101; }
  input[type="text"]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #010101; }
  input[type="text"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #010101; }

.btn {
  display: block;
  width: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 14px 0;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.1875em;
  font-size: 1em;
  border: 0; }

.main-btn {
  background-color: #dd3176;
  color: #fff;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out; }
  .main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #9b2253; }
  .main-btn:focus {
    text-decoration: none;
    color: #fff;
    outline: none; }

@font-face {
  font-family: "CenturyGothicRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype"); }

@font-face {
  font-family: "lobsterRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lobsterRegular/lobsterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/lobsterRegular/lobsterRegular.woff") format("woff"), url("../fonts/lobsterRegular/lobsterRegular.ttf") format("truetype"); }

/* =========== Header =========== */
.main-header {
  background: #fff;
  width: 100%;
  position: relative; }
  .main-header .main-header-left {
    float: left;
    width: 50%;
    background: url("../img/aside.png") #000 no-repeat 100% 0; }
    .main-header .main-header-left .img-jewelry-wrapper {
      margin-right: 200px;
      margin-bottom: 50px; }
    .main-header .main-header-left .img-jewelry {
      width: 40%;
      margin: 100px auto 0;
      position: relative; }
      .main-header .main-header-left .img-jewelry img {
        margin-top: -24px;
        margin-left: 6px;
        position: relative;
        z-index: 2; }
      .main-header .main-header-left .img-jewelry:before {
        display: block;
        content: '';
        position: absolute;
        background: url("../img/chain.png") no-repeat 50% 100%;
        background-size: 100% 100%;
        width: 100%;
        height: 142px;
        bottom: 100%;
        z-index: 1; }
    .main-header .main-header-left .form-jewelry-wrapper {
      margin-right: 210px; }
    .main-header .main-header-left .form-jewelry {
      background-color: #287eb1;
      width: 80%;
      margin: 0 auto 20px;
      padding: 10px 20px;
      position: relative;
      border: 3px solid rgba(255, 255, 255, 0.6);
      -webkit-box-shadow: 0 0 0 6px #287eb1;
              box-shadow: 0 0 0 6px #287eb1; }
      .main-header .main-header-left .form-jewelry .form-jewelry-caption-wrap {
        text-align: center;
        margin-bottom: 16px; }
      .main-header .main-header-left .form-jewelry .form-jewelry-caption {
        color: #fff;
        font-weight: bold;
        font-size: 1.125em;
        letter-spacing: 0.0625em; }
      .main-header .main-header-left .form-jewelry input[type="text"] {
        padding: 10px 10px 10px 18px; }
      .main-header .main-header-left .form-jewelry .btn {
        padding: 10px 0; }
  .main-header .main-header-right {
    float: left;
    width: 50%;
    margin-top: 10%; }
  .main-header .main-header-right-wrap {
    width: 90%;
    margin: 0 auto;
    text-align: center; }
  .main-header .tagline {
    font-family: lobsterRegular, "Verdana", "Geneva", sans-serif;
    font-size: 1.5em;
    color: #6b6b6b; }
